# Global
* @rhennigan

# FrontEnd files
/FrontEnd/ @KMDaily
/DarkModeSupport/ @KMDaily
/Developer/StylesheetBuilder.wl @KMDaily
/Developer/FrontEndResourceBuilder.wl @KMDaily
/Developer/Resources/ @KMDaily

# Kernel source files for UI components
/Source/Chatbook/CloudToolbar.wl @KMDaily
/Source/Chatbook/ColorData.wl @KMDaily
/Source/Chatbook/Menus.wl @KMDaily
/Source/Chatbook/PreferencesContent.wl @KMDaily
/Source/Chatbook/UI.wl @KMDaily

# Automatic code correction
# /Assets/SyntaxArguments.wxf cpakleza@wolfram.com
# /Source/Chatbook/CodeCheck.wl cpakleza@wolfram.com
# /Tests/CodeCheck.wlt cpakleza@wolfram.com