.claude/settings.local.json
.DS_Store
Assets/Snippets/Streamable/*
Assets/VectorDatabases/**/*.usearch
Assets/VectorDatabases/**/*.wl
Assets/VectorDatabases/**/*.wxf
build
Developer/VectorDatabases/SourceData/*.jsonl
Source/Chatbook/64Bit/Chatbook.mx