name: Build

on:
  workflow_dispatch:
  pull_request:
    branches: [main, release/paclet]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  RESOURCE_PUBLISHER_TOKEN: ${{ secrets.RESOURCE_PUBLISHER_TOKEN }}
  WOLFRAMSCRIPT_ENTITLEMENTID: ${{ secrets.WOLFRAMSCRIPT_ENTITLEMENTID }}
  OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

jobs:

  Build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 30

    container:
      image: wolframresearch/wolframengine:14.1
      options: --user root

    env:
      WOLFRAM_SYSTEM_ID: Linux-x86-64

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Check
      run: wolframscript -f Scripts/CheckPaclet.wls

    - name: Build
      run: wolframscript -f Scripts/BuildPaclet.wls

    - name: UploadArtifact
      uses: actions/upload-artifact@v4
      with:
        path: ${{ env.PACLET_BUILD_DIR }}
    
    - name: InstallTestDependencies
      run: |
        apt-get update && apt-get install libgomp1 -y
        wolframscript -f Scripts/InstallTestDependencies.wls
    
    - name: Test
      run: wolframscript -f Scripts/TestPaclet.wls
    
    - name: UploadStackData
      if: always() && env.PACLET_STACK_HISTORY
      uses: actions/upload-artifact@v4
      with:
        name: StackData
        path: ${{ env.PACLET_STACK_HISTORY }}
        retention-days: 1
        if-no-files-found: error